# Server
NODE_ENV=development
PORT=3000

# Database
MONGODB_URI=mongodb://root:password@localhost:27017/examina?authSource=admin

# Redis
REDIS_URL=redis://localhost:6379

# Socket.io
SOCKET_IO_PORT=3001

# CORS
CORS_ORIGIN=http://localhost:3000
